html,
body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 111%;
  color: #343434;
}

body {
  display: flex;
  justify-content: center;


}

.grid-item {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  border: 0.5px solid #828282;
  border-radius: 16px;
  margin: 30px 15px 0px 15px;

}

.card-img {
  max-width: 470px;
  max-height: 370px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.new-trip {
  position: absolute;
  top: 0;
  left: 0;
  background: #7553FF;
  border-radius: 15px 0px 12px;
  padding: 12px 27px;
  color: white;
}

.card-info {
  width: 100%;
  padding: 0px 12px;
}

.card-info h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #404040;
  margin-bottom: 20px;
}

.duration {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-duration {
  width: 16px;
  height: 16px;
  -webkit-mask-image: url(/images/clock-circular-outline.svg);
  mask-image: url(/images/clock-circular-outline.svg);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #C7C7C7;
  margin-right: 10px;

}

.time-duration {
  font-size: 12px;
  line-height: 167%;
  color: #9E9E9E
}

.item-benefits {
  display: flex;

  margin-bottom: 20px;

}


.icon-benefits {
  width: 16px;

  height: 16px;
  position: relative;
  -webkit-mask-image: url(/images/check-mark.svg);
  mask-image: url(/images/check-mark.svg);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #FECF01;
  top: 3px;
  left: 0;
  flex-shrink: 0;

}


.text-benefits {
  font-size: 14px;
  line-height: 143%;
  color: #4B4B4B;
  padding-left: 20px;
}

.time {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-top: 10px;
}

.time-item {
  font-size: 14px;
  line-height: 143%;
  color: #343434;
  padding: 2px 14px;
  background: #D9E8FF;
  border-radius: 11px;
  margin-right: 5px;


}

.time-item.active {
  background: #6BA6FF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.time-item:last-child {
  margin-right: 0;
}



.text-benefits-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 0 8px;
}

.price-item {
  margin-bottom: 18px;
}

.price-in-site {
  font-size: 30px;
  line-height: 67%;

  margin-bottom: 5px;
}

.price-in-pier {
  font-size: 10px;
  line-height: 200%;
}

.btn-more {
  padding: 12px 45px;
  font-size: 14px;
  line-height: 143%;
  color: #404040;
  background: #FED74B;
  border: 0.5px solid #CBA500;
  border-radius: 20px;


}

.btn-more:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}






@media screen and (min-width: 540px) {
  .grid-item {
    grid-template-columns: 470px 1fr;
    max-width: 1106px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 0px 0px 16px;
  }

  .card-info h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 131%;
    color: #000000;
    margin-top: 10px;
  }


  .text-benefits {
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: #343434;
  }

  .time {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .time-item {
    font-size: 16px;
    padding: 2px 16px;
  }

  .text-benefits-time {

    flex-direction: row;
    align-items: center;
  }

  .text-benefits-time .time {
    margin-left: 10px;
  }

  .price {
    justify-content: flex-start;
    padding: 0;

  }

  .price-item {
    margin-right: 20px;
  }

  .price-in-site {
    font-size: 36px;
    line-height: 56%;
  }

  .price-in-pier {
    font-size: 14px;
    line-height: 143%;
  }

  .btn-more {
    padding: 15px 43px;
    font-size: 18px;
    line-height: 111%;

    background: #FED74B;
    border: 0.5px solid #CBA500;
    border-radius: 23px;


  }

  .btn-more:hover {
    cursor: pointer;
  }
}